.header {
    display: flex;
}

.header-logo {
    display: block;
    background-image: url(../images/Logotip.svg);
    width: 246px;
    height: 76px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-item {
    display: flex;
}
.header-nav {
    display: flex;
}