body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header-item {
    margin: 30px 0 10px;
    display: flex;
    align-items: center;
    gap: 1%;
}
.header-logo {
    display: inline-block;
    background-image: url(../images/Logotip.svg);
    width: 97px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-fitness {
    display: none;
}
.fitness {
    border: none;
    cursor: pointer;
    background-color: transparent;
}
nav { 
    flex-basis: 25%;   /*начало элемена флекс nav*/
    list-style-type: none;
    flex-grow: 1;
}
.header-nav {
    padding-left: 10%;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    gap: 6%;
}
.header-nav a {
    font-weight: 400;
    font-weight: normal;
    font-size: 18px;
    color: #2B3541;
    text-decoration: none;   
    position: relative;                  
}
.header-nav a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background: transparent;
    background: #2B3541; 
    border-radius: 1.5px;
    display: block; 
    opacity: 0.7;
    transition: 4s; 
}
.header-nav a:hover::after {
    background: #FBB731;
    width: 95%;
    transition: 1s; 
}
.head-btn {
    flex-basis: 12%;   /*начало элемена флекс nav*/
    display: flex;
    justify-content: start;
    gap: 13%;
}
.Instagramicon {float: left;} .Feisbukicon {float: right;}
.Instagramicon,.Feisbukicon {
width: 40px;
height: 50px;
border: none;
cursor: pointer;
background-color: transparent;
}
.Instagramicon img,.Feisbukicon img {
width: 100%;
transition: 1s;
}
.Instagramicon:hover img, .Feisbukicon:hover img {
    width: 150%;
}
/* блок майн с девушкой  *//* блок майн с девушкой  *//* блок майн с девушкой  */
 .main .container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;  
    margin-bottom: 175px;
 }
 .content {
    flex: 0 1 36%;
    min-width: 0;
    position: relative;
 }
 .content-title {
    font-weight: 700;
    font-size: 48px; 
    color: #2B3541;
    text-transform: uppercase;   /*Заглавные буквы*/
    margin-top: 53%;
    /* margin-left: 29%; */
}
.content-title span {
    display: block;
}
.content-info {
    font-weight: 400;
    font-size: 40px;
    color: #2B3541;
    margin-top: 13%;
    margin-bottom: 5%;
}
:root {
    --margin-left-VAR: 20%;
  }
.content-text {
    font-weight: 400;
    font-size: 18px;
    color: #2B3541;
    margin-top: 0;
    margin-left: var(--margin-left-VAR); 
    margin-bottom: 14%;
}
.content-text span {
    display: block;
    margin-bottom: 3%;
}
.content-link {
    font-weight: 700;
    font-size: 16px;
    color: #2B3541;
    margin-top: 8%;
    margin-left: var(--margin-left-VAR);
    text-decoration: none;
    text-transform: uppercase;   /*Заглавные буквы*/
    background: #FBF138;
    padding: 20px 30px;
}
.div-button-up {
   bottom: 0%;
   position: absolute;
}
.button-up {
    width: 52px;
    height: 55px;
    background-image: url(../images/button\ up.svg);
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.visual {
    max-height: 850px;
    flex: 1 0 auto;
    position: relative;
}
.visual-bg {
    display: flex;
    height: 100%;  
    gap: 3%;
    }
 .visual-bg-left {
    flex: 0 0 67%;
    background-image: url(../images/fon-left.png);
    background-size: cover; 
    background-position: center center;
 }
 .visual-bg-right {
    position: relative;
    flex: 0 0 33%;
    height: 100%; 
    background-image: url(../images/fon-right.png);
    background-size: cover; 
    background-position: center center;
 }
.visual-bg img {
    position: absolute;
    width: 132%; 
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    align-self: flex-end;
    left:  -14%;
}
/* блок услуг меню*//* блок услуг меню*//* блок услуг меню*/
#menuFitness {
    margin-bottom: 130px;
}
.menu-title {
    font-weight: 700;
    font-size: 40px;
    color: #2B3541;
    text-align: left;
    margin-bottom: 42px;
}
.menu-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    gap: 3px;
}
.menu-flex-cover {
    position: relative;
    max-width: 367px;
    min-width: 140px;
    height: 600px;
    flex: 1 1 32%;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.break {
    display: none;
    flex-basis: 100%;
    height: 0;
  }
.menu-flex-cover:hover p:nth-child(3) {
    display: inline-block;
}
.menu-flex-cover p {
    margin-left: 30px;
}
.menu-flex-cover p:nth-child(1) {
    font-weight: 700;
    font-size: 18px;
    color: #2B3541;
    opacity: 0.6;
    margin-top: 37px;
}
.menu-flex-cover p:nth-child(2) {
    font-weight: 700;
    font-size: 28px;
    color: #2B3541;
    margin-top: 25px;
}
.menu-flex-cover p:nth-child(3) {
    position: absolute;
    display: none;
    font-weight: 700;
    font-size: 16px;
    color: #FBF138;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 37px;
    background: #2B3541;
    transition: 1s;
}
.menu-flex-cover p:nth-child(4) {
    position: absolute;
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    color: #2B3541;
    /* margin-top: 25px; */
    text-align: center;
    padding: 12px 20px;
    background: #FBF138; 
    bottom: 0;
    right: 0;
    margin: 0;
}
.menu-flex-cover img:nth-child(5) {
    position: absolute;
    display: none;
    bottom: 0;
    right: 0;
}
#id_div1 {background-image: url("../images/menu/01.png");}  
#id_div2  {background-image: url(../images/menu/02.jpg);}
#id_div3  {background-image: url(../images/menu/03.jpg);}
#id_div1:hover {background-image: linear-gradient(180deg, rgba(251,241,56,.3) 0%, rgba(253, 249, 182, 0) 100%), url("../images/menu/01.png");}
#id_div2:hover {background-image: linear-gradient(180deg, rgba(251,241,56,.3) 0%, rgba(253, 249, 182, 0) 100%), url("../images/menu/02.jpg");}
#id_div3:hover {background-image: linear-gradient(180deg, rgba(251,241,56,.3) 0%, rgba(253, 249, 182, 0) 100%), url("../images/menu/03.jpg");}
/*блок деталей*//*блок деталей*//*блок деталей*/
.p1 {
    display: inline-block;
    width: min-content;
    font-weight: 700;
    font-size: 40px;
    color: #2B3541;
    text-align: left;
}
.p2 {
    display: inline;
    float: right;
    height: 92px;
    font-weight: 700;
    font-size: 28px;
    color: #2B3541;  
    margin: 40px 0;
}
.teg {

}
.workout  {
    display: flex;
    flex-flow: column wrap;
    /* align-content: space-between;   */
    height: 728px;
    /* justify-content: space-between;  */
    margin-bottom: 140px;
    gap: 20px;
  
}
.workout div {
    border: 3px solid gray;
    max-width: 367px;
    min-width: 0;
    position: relative;
    overflow: hidden;
    /* flex-shrink: 3; */
    flex: 1 3 auto;
}
.workout div p:nth-child(1) {
    font-weight: 400;
    font-size: 18px;
    color: #010101;
    opacity: 0.7;
    width: 85%;
    float: right; 
    text-align: end;
    padding-right: 5%;
}
.workout div img {
   position: absolute;
   bottom: 30%;
   left: 10%;
   transition: 1s;
}
.workout div p:nth-child(3) {
   position: absolute;
   font-weight: 700;
   font-size: 18px;
   color: #2B3541; 
   bottom: 10%;
   left: 10%;
   transition: 1s;
}
.workout div p:nth-child(4) {
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    color: #2B3541;
    bottom: -45%;
    left: 10%;
    transition: 1s;
 }
.workout div:hover img:nth-child(2) {bottom: 60%;}
.workout div:hover p:nth-child(3) {bottom: 40%;}
.workout div:hover p:nth-child(4) {bottom: 5%;}
.part1 {
    height: 250px;
    order: 1;
}
.part2 {
    height: 402px;
    order: 3;
}
.part3 {
    height: 309px;
    order: 5;
}
.part4 {
    height: 433px;
    order: 2;
    background: linear-gradient(180deg, rgba(251,241,56,.6) 0%, rgba(253, 249, 182, .2) 100%);
}
.part4 img:nth-child(2) {
    bottom: 60%;
}
.workout div.part4 p:nth-child(3) {
    bottom: 40%;
}
.workout div.part4 p:nth-child(4) {
    bottom: 5%;
}
.part5 {
    height: 281px;
    order: 4;
}
.part6 {
    height: 374px;
    order: 6;
}
 /*Блок подписки*/ /*Блок подписки*/ /*Блок подписки*/
.subscription {
    background: #F3F3F3;
    width: 100%; 
 }
.e-mail {
    height: 348px;
    margin-bottom: 155px;
    display: flex;
}
.wrap {
    width: 340px;
    margin: auto auto;
}
.e-mail-title {
    display: flex;
    margin: 0 auto;
}
.e-mail-title img {
    width: 123px; 
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
.e-mail-title p {
    font-weight: 700;
    font-size: 40px;
    color: #2B3541;
    text-align: left;
    position: relative; 
    flex: 1 0 25%;
    left: -50px;
    align-self: center;
}
.e-mail-enter {
    display: flex;
    padding-left: 10%;
    gap: 45px;
}
.e-mail-enter p{
  margin: 0;
}
.e-mail-enter input {
    width: 340px;
    height: 65px;
    background: #ffffff;
    font-weight: 400;
    font-size: 18px;
    color: #2B3541;
    text-align: left;
    padding-left: 10%;
}
.e-mail-enter p:nth-child(2) {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    color: #2B3541;
    text-align: center; 
    align-self: center;
    padding: 24px 45px;
    background-color: #FBF138;
}
.e-mail-jackdaw {
    display: flex;
    padding-bottom: 38px;
    padding-left: 10%;
}
.e-mail-jackdaw p {
    margin-left: 5px;
    font-weight: 400;
    font-size: 11px;
    color: #2B3541;
    text-align: center;
    opacity: 0.5;
}
.e-mail-jackdaw a {
    font-weight: 400;
    font-size: 11px;
    color: #2B3541;
    opacity: 0.5;
}
/* Блок о компании */ /* Блок о компании */ /* Блок о компании */
.company-grid {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 10px;
}
.company-grid div:nth-child(-n+2) {
    grid-column: span 2;
}
.company-grid div:nth-child(1) p:nth-child(1) {
    font-weight: 700;
    font-size: 40px;
    color: #2B3541;
    margin-top: 0;
    margin-bottom: 25px;
}
.company-grid div:nth-child(1) p:nth-child(2) {
    font-weight: 400;
    font-size: 18px;
    color: #2B3541;
    line-height: 150%;
    margin-bottom: 31px;
}
.company-grid div:nth-child(1) button:nth-child(3) {
    background-color: #FBF138;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #2B3541;
    padding: 22px 50px;
    border: none;
    cursor: pointer;
}
.company-grid div:nth-child(6)  button {
    display: none;
    }
.company-grid div:nth-child(2) {
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
    height: fit-content;
}
.company-grid div:nth-child(2) img {
    width: 100%;
    opacity: 0.7;
    box-shadow: 0px 4px 0px 0px #ffffff;
}
.company-grid div:nth-child(n+3) p:nth-child(1) {
    font-weight: 700;
    font-size: 18px;
    color: #2B3541;
    margin-top: 80px;
    margin-bottom: 25px;
}
.company-grid div:nth-child(n+3) p:nth-child(2) {
    font-weight: 400;
    font-size: 18px;
    color: #2B3541;
    line-height: 150%;
    opacity: 0.6;
}
.company-grid div:nth-child(n+4) {
    justify-self: end;
}
/*Блок подвала */ /*Блок подвала*/ /*Блок подвала*/ /*Блок подвала*/
footer {
    background: #F3F3F3;
    width: 100%;
    padding-top: 5px;
    height: 100%;
 }
 .header-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
 }
 .header-one .header-nav {
    justify-content: flex-end;
}
 footer .header-item {
     height: 60px;
     margin-bottom: 5px;
 }
footer .header-nav a {
    font-size: 14px;                
}
.e-mail-fit {
    font-weight: 700;
    font-size: 16px;
    color: #2B3541;
     z-index: 1; 
}
.e-mail-fit::before {
    content: '';
    position: relative; 
    width: 25px;
    height: 25px;
    background: #FBF138;
    border-radius: 50%;
    display: block; 
    top: -12px;
    left: 8px; 
    float: left;
    z-index: -1; 
}
footer .head-btn {
    justify-content: center;
    margin-left: 20px;
}
.footer-row {
    display: flex;
    justify-content: space-between;
    background: #F3F3F3;
}
.footer-row p {
    font-weight: 400;
    font-size: 14px;
    color: rgba(43, 53, 65, 0.3);
}
.footer-row a {
    font-weight: 400;
    font-size: 14px;
    color: #2B3541;
    opacity: 0.3;
}
/*Modal*/ /*Modal*/ /*Modal*/ /*Modal*/ /*Modal*/

.modal {
    position: absolute;
    display: none;
    left: 50%;
    transform: translate(-50%, 0);    /*смещаем блок влево на расстояние, равное половине его ширины*/
    max-width: 500px;
    width: 80%;
    height: 246px;
    background: #F3F3F3;
    top: 30px;
    text-align: left;    
    transition: 0.5s;
}
.modal .header-logo {
    position: absolute;
    top: 20px;
    left: 5%;
}
.gym-close {
    position: absolute;
    top: 20px;
    right: 5%;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.modal .header-nav {
    flex-direction: column;
    margin-top: 70px;
    row-gap: 20px;
}
.modal .header-nav li {
    position: relative;
}
.modal .header-nav li:nth-child(-n+2):before {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 94%;
    height: 1px;
    background: transparent;
    background: #2B3541; 
    border-radius: 1.5px;
    display: block; 
    opacity: 0.7;
}
.modal .head-btn {
    flex-basis: 12%;   /*начало элемена флекс nav*/
    display: flex;
    justify-content: flex-end;
    gap: 5%;
    margin-right: 5%;
}

@media (max-width: 1140px) {
    .content-title {
        margin-top: 0%;
    }
}
@media (max-width: 1058px) {
    .company-grid div:nth-child(n+3) {
        width: min-content;
    }
}
@media (max-width: 960px) {
    .visual-bg-left {
        flex: 0 3 60%;
     }
    .visual-bg img {
        left:  auto; 
        right: 0%;
    }
    .header-nav {
        padding-left: 5%;
        gap: 3%;
    }    
}
@media (max-width: 769px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .p1 { /*Расписание тренировок*/
        font-size: 28px;
    }
    .p2 {
        padding-top: 10px;
        height: 50px;
        font-size: 16px;
        margin: 28px 0;
    }
    .header-fitness {
        display: block;
        flex-basis: 60%;
        flex-shrink: 10;
    }
    .header-item {
        margin: 30px 0 10px;
        justify-content: space-between;
    }
    .header-logo {
        background-position: center;
        background-size: 75%;
    }
    nav { 
        display: none;
    }
    .content-title {
        font-size: 26px;
    }
    .content-info {
        font-size: 26px;
    }
    :root {
        --margin-left-VAR: 0%;
      }
    .content-text {
        font-size: 16px;
    }
    .visual-bg-left {
        height: 429px;
    }
    .visual-bg img {
        width: 97%; 
    }
    .menu-flex {
        flex-wrap: wrap;
    }
    .break {
        display: block;
      }
    #id_div1,#id_div2 {height: 309px;}
    #id_div3  {background-image: url(../images/yoga.png);   flex-grow: 1;  max-width: 745px;  }
    #id_div3:hover {background-image: linear-gradient(180deg, rgba(251,241,56,.3) 0%, rgba(253, 249, 182, 0) 100%), url("../images/yoga.png");}
    .menu-flex-cover p:nth-child(4) {
        right: auto;
    }
    .menu-flex-cover img:nth-child(5) {        
        display: block;    
    }
    /* Расписание тренировок */
    .workout {
        display: flex;
        flex-flow: row wrap;
        height: 820px;
        gap: 20px; 
    }
    .workout div p:nth-child(3) {
        bottom: 4%;
     }
     .workout div p:nth-child(4) {
        bottom: -65%;
     }
    .workout  div {
        flex-basis: 35%;
    }
    .part1,.part4 {
        order: 0;
        height: 332px; 
    }
    .part2,.part5 {
        order: 1;
        height: 224px;
    }
    .part3,.part6 {
        height: 224px;
    }
    /*Подписка*/
    .wrap {
        width: 340px;
        height: 80%;
        margin: auto auto;
        position: relative;
    }
    .e-mail-title p {
       margin: 20px 0;
    }
    .e-mail-enter {
        display: inline-block;
        padding-left: 0%;
        gap: 0px;
    }
    .e-mail-enter p:nth-child(2) {
        position: absolute;
        margin: 0 auto;
        bottom: 0%;
        padding: 24px 105px;
    }
    .e-mail {
        height: 416px;
        margin-bottom: 80px;
    }
    .e-mail-enter input {
        padding-left: 0%;
    }
    .e-mail-jackdaw {
        padding-left: 0;
    }
    input::placeholder {
        padding-left: 10%;
      }
    /* О компании */
    .company-grid {
        grid-template-rows: 1fr 0.5fr 0.8fr;
    }
    .company-grid div:nth-child(n+3) {
        grid-column: span 2;
        width: max-content;
        justify-self: center;
        align-self: start;
    }
    /* Подвал */ /* Подвал */ /* Подвал */ /* Подвал */ /* Подвал */
    .header-one {
        display: flex;
     }
    .header-one nav {
        display: block;
    }
    .e-mail-fit {
        margin-left: auto;
    }
    footer .header-item .header-logo {
        display: none;
    }
    .header-one {
     padding-top: 40px;
     }
     .modal {  /*modal*/
        display: block;
    }
    }
    @media (max-width: 530px) {
    .company-grid { /*О компании*/
        grid-template-rows: 1fr 0.3fr 0.3fr 0.3fr 0.8fr 0.9fr;
        grid-template-columns: 1fr;
        }
    .company-grid div:nth-child(2) {
        order: 2;
        }
    .company-grid div:nth-child(n+3) p:nth-child(1) {
            margin-top: 15px;
            margin-bottom: 0px;
    }
    .company-grid div:nth-child(1) button:nth-child(3) {
            display: none;
        }
    .company-grid div:nth-child(-n+6)   {
        width: 100%;
    } 
    .company-grid div:nth-child(6)  button {
        display: block;
        background-color: #FBF138;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        color: #2B3541;
        padding: 22px;
        border: none;
        cursor: pointer;
        width: 100%;
        background-color: #FBF138;
        }
    }
    @media (max-width: 470px) {
    .header-nav { /*Подвал*/
            padding-left: 0;
            gap: 1%;
    }    
    footer .header-nav a {   
            font-size: 12px;
    }      
    ul {
            padding-inline-start: 0px;
    }
    .p1 {  /*Тренировки*/
            width: min-content;
    }
    .workout {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .workout div {
        height: 134px;
    }
    .workout div img:nth-child(2) {
        transform: scale(0.6);
    }
    .header-one {    /*подвал*/
                flex-direction: column;  
    }
    .footer-row  {
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
    } 
    .footer-row p {        
                    font-size: 10px;
    }
    .footer-row a {
                    font-size: 10px;       
    }      
    @media (max-width: 320px) {
    .p2 {
                display: block;
                float: left;   
                margin: 0;
                padding: 0;           
    }
    .workout-header {
           height: 175px;
    }
    
